ASSIGNMENT-2

In [3]:
marks = int(input("enter the mark"))

if marks >91:
  print("Grade is A")

elif marks >82 :
  print("Grade is B")
else :
  print("Failed")

enter the mark82
Failed

In [95]:
username ='farhana'
password ='67571'
otp ='236987'

name = input("enter name ")
userPassword = input("enter password ")
userOtp = input("enter otp ")

if name==username :
  if userPassword == password :
    print("welcome " +username)
else:
      print("Incorrect password")
      print(input("enter otp "))
if userOtp==otp :
        print("welcome")
else :
          print("otp Incorrect")

enter name farhana
enter password 5463
enter otp 236987
welcome

In [74]:
studentMarks = {
    "joy" : 50,
    "smile" : 45,
    "cry" : 99,
    "happy" : 100,}

In [70]:
studentMarks.keys()

dict_keys(['joy', 'smile', 'cry', 'happy'])

In [75]:
for a in studentMarks.keys():

  if studentMarks [a] < 60:
   print(a+ " has failed")

joy has failed
smile has failed